<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission Result</title>
</head>
<body>
    <h1>Thank You, <%= name %>!</h1>
    <h3>Your submitted tasks are:</h3>
    <ul>
        <% tasks.forEach(function(task) { %>
            <li><%= task %></li>
        <% }); %>
    </ul>
</body>
</html>
